@model ARFlightsApi.Helper.Availability
@{
    ViewBag.Title = "CheckAvail";
}

<h2>CheckAvail</h2>
@*@using (Html.BeginForm())
{*@
<div class="form-group input-group-sm">
    @Html.LabelFor(model => model.from)
    @Html.TextBoxFor(model => model.from, new { @class = "form-control datepicker", placeholder = "Enter from date here...", id="from" })
    @Html.ValidationMessageFor(model => model.from)
</div>
<div class="form-group input-group-sm">
    @Html.LabelFor(model => model.to)
    @Html.TextBoxFor(model => model.to, new { @class = "form-control datepicker", placeholder = "Enter from date here...", id = "to" })
    @Html.ValidationMessageFor(model => model.to)
</div>
<div class="form-group input-group-sm">
    @Html.LabelFor(model => model.Pax)
    @Html.TextBoxFor(model => model.Pax, new { @class = "form-control ", id = "pax" })
    @Html.ValidationMessageFor(model => model.Pax)
</div>
<div class="form-group input-group-sm">
    <button type="submit" class="btn btn-default" id="checkAvail">Check Availability</button>
</div>
@* } *@

<div id="bookingContent">
    
</div> 

